<div class="background-image">
  <div>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SoundSoulmates</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>

    <br /><br />
    <!-- app.component.html -->

    <div class="container mt-5">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>
              <div class="text-center">
                <h2>Deseas buscar pareja por:</h2>
                <div class="container text-center">
                  <button
                    class="btn btn-primary"
                    style="margin: 20px"
                    (click)="seleccionarOpcion('Genero')"
                  >
                    Genero
                  </button>
                  <button
                    class="btn btn-primary"
                    style="margin: 20px"
                    (click)="seleccionarOpcion('Artista')"
                  >
                    Artista
                  </button>
                  <button
                    class="btn btn-primary"
                    style="margin: 20px"
                    (click)="seleccionarOpcion('Cancion')"
                  >
                    Cancion
                  </button>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                  <h5>Celular:</h5>
                  <div style="padding-left: 10px">
                    <input
                      class="form-control"
                      [(ngModel)]="celular"
                      placeholder="4492610397"
                    />
                  </div>
                </div>
                <br />
                <div class="text-center">
                  <button
                    class="btn btn-primary"
                    style="width: 300px"
                    [disabled]="celular.trim() === '' || !opcionSeleccionada"
                    (click)="buscarPareja()"
                  >
                    Buscar
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div style="text-align: center; justify-content: center" *ngIf="arrayInfo">
      <div *ngIf="mostrarTablaGenero">
        <h3>Genero</h3>
        <table border="1">
          <tr>
            <td>Fila 1, Columna Genero</td>
            <td>Fila 1, Columna 2</td>
          </tr>
          <tr>
            <td>Fila 2, Columna 1</td>
            <td>Fila 2, Columna 2</td>
          </tr>
        </table>
      </div>

      <div class="container mt-5">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Número</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of arrayInfo">
              <td>{{ item.nombre }}</td>
              <td>{{ item.numero }}</td>
              <td><button class="btn btn-primary">Hacer match</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
